source/Deprecated/CrazorDemoBot/AdaptiveCards.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="AdaptiveCards" xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:import namespace="http://www.w3.org/2001/XMLSchema" />

	<xs:element name="Card" nillable="true" type="AdaptiveCard" />

	<xs:complexType name="AdaptiveCard">
		<xs:complexContent mixed="false">
			<xs:extension base="AdaptiveTypedElement">
				<xs:sequence>
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element minOccurs="0" maxOccurs="1" name="Version" type="AdaptiveSchemaVersion" />
						<xs:element minOccurs="0" maxOccurs="1" name="BackgroundImage" type="backgroundImage" />
						<xs:element minOccurs="0" maxOccurs="1" name="Height" type="AdaptiveHeight" />
						<xs:element minOccurs="0" maxOccurs="1" name="SelectAction" type="AdaptiveAction" />
						<xs:element minOccurs="0" maxOccurs="1" name="Refresh" type="Refresh" />
						<xs:element minOccurs="0" maxOccurs="1" name="Authentication" type="AdaptiveAuthentication" />
						<xs:element minOccurs="0" maxOccurs="1" name="TextBlock" type="TextBlock" />
						<xs:element minOccurs="0" maxOccurs="1" name="RichTextBlock" type="RichTextBlock" />
						<xs:element minOccurs="0" maxOccurs="1" name="Image" type="Image" />
						<xs:element minOccurs="0" maxOccurs="1" name="Container" type="Container" />
						<xs:element minOccurs="0" maxOccurs="1" name="ColumnSet" type="ColumnSet" />
						<xs:element minOccurs="0" maxOccurs="1" name="ImageSet" type="ImageSet" />
						<xs:element minOccurs="0" maxOccurs="1" name="FactSet" type="FactSet" />
						<xs:element minOccurs="0" maxOccurs="1" name="Input.Text" type="Input.Text" />
						<xs:element minOccurs="0" maxOccurs="1" name="Input.Date" type="Input.Date" />
						<xs:element minOccurs="0" maxOccurs="1" name="Input.Time" type="Input.Time" />
						<xs:element minOccurs="0" maxOccurs="1" name="Input.Number" type="Input.Number" />
						<xs:element minOccurs="0" maxOccurs="1" name="Input.Toggle" type="Input.Toggle" />
						<xs:element minOccurs="0" maxOccurs="1" name="Input.ChoiceSet" type="Input.ChoiceSet" />
						<xs:element minOccurs="0" maxOccurs="1" name="Media" type="Media" />
						<xs:element minOccurs="0" maxOccurs="1" name="ActionSet" type="ActionSet" />
						<xs:element minOccurs="0" maxOccurs="1" name="AdaptiveUnknownElement" type="AdaptiveUnknownElement" />
						<xs:element minOccurs="0" maxOccurs="1" name="Table" type="Table" />
					</xs:choice>
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element minOccurs="0" maxOccurs="1" name="Action.OpenUrl" type="Action.OpenUrl" />
						<xs:element minOccurs="0" maxOccurs="1" name="Action.ShowCard" type="Action.ShowCard" />
						<xs:element minOccurs="0" maxOccurs="1" name="Action.Submit" type="Action.Submit" />
						<xs:element minOccurs="0" maxOccurs="1" name="Action.ToggleVisibility" type="Action.ToggleVisibility" />
						<xs:element minOccurs="0" maxOccurs="1" name="Action.Execute" type="Action.Execute" />
						<xs:element minOccurs="0" maxOccurs="1" name="AdaptiveUnknownAction" type="AdaptiveUnknownAction" />
					</xs:choice>
				</xs:sequence>
				<xs:attribute name="FallbackText" type="xs:string" />
				<xs:attribute name="Speak" type="xs:string" />
				<xs:attribute name="Lang" type="xs:string" />
				<xs:attribute default="0" name="PixelMinHeight" type="xs:int" />
				<xs:attribute default="Top" name="VerticalContentAlignment" type="AdaptiveVerticalContentAlignment" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AdaptiveTypedElement" abstract="true">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="1" name="AdditionalProperties">
				<xs:complexType>
					<xs:sequence>
						<xs:any />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="1" name="Fallback" type="AdaptiveFallbackElement" />
		</xs:sequence>
		<xs:attribute name="Id" type="xs:string" />
	</xs:complexType>
	<xs:complexType name="AdaptiveFallbackElement">
		<xs:sequence>
			<xs:element minOccurs="1" maxOccurs="1" name="Type" type="AdaptiveFallbackType" />
			<xs:element minOccurs="0" maxOccurs="1" name="Content" type="AdaptiveTypedElement" />
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="AdaptiveFallbackType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="None" />
			<xs:enumeration value="Drop" />
			<xs:enumeration value="Content" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="TableRow">
		<xs:complexContent mixed="false">
			<xs:extension base="AdaptiveTypedElement">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="1" name="Height" type="AdaptiveHeight" />
				</xs:sequence>
				<xs:attribute default="Default" name="Spacing" type="AdaptiveSpacing" />
				<xs:attribute default="false" name="Separator" type="xs:boolean" />
				<xs:attribute name="Style" type="AdaptiveContainerStyle" />
				<xs:attribute default="true" name="IsVisible" type="xs:boolean" />
				<xs:attribute default="Left" name="HorizontalAlignment" type="AdaptiveHorizontalAlignment" />
				<xs:attribute default="Left" name="HorizontalCellContentAlignment" type="AdaptiveHorizontalAlignment" />
				<xs:attribute default="Top" name="VerticalCellContentAlignment" type="AdaptiveVerticalAlignment" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AdaptiveHeight">
		<xs:attribute name="HeightType" type="AdaptiveHeightType" use="required" />
		<xs:attribute name="Unit" type="xs:int" />
	</xs:complexType>
	<xs:simpleType name="AdaptiveHeightType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Auto" />
			<xs:enumeration value="Stretch" />
			<xs:enumeration value="Pixel" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AdaptiveSpacing">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Default" />
			<xs:enumeration value="None" />
			<xs:enumeration value="Small" />
			<xs:enumeration value="Medium" />
			<xs:enumeration value="Large" />
			<xs:enumeration value="ExtraLarge" />
			<xs:enumeration value="Padding" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AdaptiveContainerStyle">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Default" />
			<xs:enumeration value="Emphasis" />
			<xs:enumeration value="Good" />
			<xs:enumeration value="Attention" />
			<xs:enumeration value="Warning" />
			<xs:enumeration value="Accent" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AdaptiveHorizontalAlignment">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Left" />
			<xs:enumeration value="Center" />
			<xs:enumeration value="Right" />
			<xs:enumeration value="Stretch" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AdaptiveVerticalAlignment">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Top" />
			<xs:enumeration value="Center" />
			<xs:enumeration value="Bottom" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AdaptiveAction" abstract="true">
		<xs:complexContent mixed="false">
			<xs:extension base="AdaptiveTypedElement">
				<xs:attribute name="IsEnabled" type="xs:boolean" />
				<xs:attribute name="Title" type="xs:string" />
				<xs:attribute name="IconUrl" type="xs:string" />
				<xs:attribute default="default" name="Style" type="xs:string" />
				<xs:attribute name="Tooltip" type="xs:string" />
				<xs:attribute name="Mode" type="AdaptiveActionMode" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="AdaptiveActionMode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Primary" />
			<xs:enumeration value="Secondary" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Action.Execute" mixed="true">
		<xs:complexContent mixed="false">
			<xs:extension base="AdaptiveAction">
				<xs:attribute default="Auto" name="AssociatedInputs" type="AdaptiveAssociatedInputs" />
				<xs:attribute name="Verb" type="xs:string" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="AdaptiveAssociatedInputs">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Auto" />
			<xs:enumeration value="None" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AdaptiveUnknownAction">
		<xs:complexContent mixed="false">
			<xs:extension base="AdaptiveAction">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="1" name="Type" type="xs:string" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Action.ToggleVisibility">
		<xs:complexContent mixed="false">
			<xs:extension base="AdaptiveAction">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="unbounded" name="TargetElements" type="AdaptiveTargetElement" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AdaptiveTargetElement">
		<xs:attribute name="ElementId" type="xs:string" />
		<xs:attribute name="IsVisible" type="xs:boolean" />
	</xs:complexType>
	<xs:complexType name="Action.Submit" mixed="true">
		<xs:complexContent mixed="false">
			<xs:extension base="AdaptiveAction">
				<xs:attribute default="Auto" name="AssociatedInputs" type="AdaptiveAssociatedInputs" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Action.ShowCard">
		<xs:complexContent mixed="false">
			<xs:extension base="AdaptiveAction">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="1" name="AdaptiveCard" type="AdaptiveCard" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Action.OpenUrl">
		<xs:complexContent mixed="false">
			<xs:extension base="AdaptiveAction">
				<xs:attribute name="Url" type="xs:string" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AdaptiveElement" abstract="true">
		<xs:complexContent mixed="false">
			<xs:extension base="AdaptiveTypedElement">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="1" name="Height" type="AdaptiveHeight" />
				</xs:sequence>
				<xs:attribute default="Default" name="Spacing" type="AdaptiveSpacing" />
				<xs:attribute default="false" name="Separator" type="xs:boolean" />
				<xs:attribute default="true" name="IsVisible" type="xs:boolean" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AdaptiveUnknownElement">
		<xs:complexContent mixed="false">
			<xs:extension base="AdaptiveElement">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="1" name="Type" type="xs:string" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Table">
		<xs:complexContent mixed="false">
			<xs:extension base="AdaptiveElement">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="unbounded" name="TableColumn" type="TableColumn" />
					<xs:element minOccurs="0" maxOccurs="unbounded" name="TableRow" type="TableRow" />
				</xs:sequence>
				<xs:attribute default="Left" name="HorizontalCellContentAlignment" type="AdaptiveHorizontalAlignment" />
				<xs:attribute default="Top" name="VerticalCellContentAlignment" type="AdaptiveVerticalAlignment" />
				<xs:attribute default="true" name="FirstRowAsHeader" type="xs:boolean" />
				<xs:attribute default="true" name="ShowGridLines" type="xs:boolean" />
				<xs:attribute name="Style" type="AdaptiveContainerStyle" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TableColumn">
		<xs:attribute name="Width" type="xs:string" />
	</xs:complexType>
	<xs:complexType name="ActionSet">
		<xs:complexContent mixed="false">
			<xs:extension base="AdaptiveElement">
				<xs:sequence>
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element minOccurs="0" maxOccurs="1" name="Action.OpenUrl" type="Action.OpenUrl" />
						<xs:element minOccurs="0" maxOccurs="1" name="Action.ShowCard" type="Action.ShowCard" />
						<xs:element minOccurs="0" maxOccurs="1" name="Action.Submit" type="Action.Submit" />
						<xs:element minOccurs="0" maxOccurs="1" name="Action.ToggleVisibility" type="Action.ToggleVisibility" />
						<xs:element minOccurs="0" maxOccurs="1" name="Action.Execute" type="Action.Execute" />
						<xs:element minOccurs="0" maxOccurs="1" name="AdaptiveUnknownAction" type="AdaptiveUnknownAction" />
					</xs:choice>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Media">
		<xs:complexContent mixed="false">
			<xs:extension base="AdaptiveElement">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="unbounded" name="MediaSource" type="MediaSource" />
				</xs:sequence>
				<xs:attribute name="Poster" type="xs:string" />
				<xs:attribute name="AltText" type="xs:string" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MediaSource">
		<xs:attribute name="MimeType" type="xs:string" />
		<xs:attribute name="Url" type="xs:string" />
	</xs:complexType>
	<xs:complexType name="AdaptiveInput" abstract="true">
		<xs:complexContent mixed="false">
			<xs:extension base="AdaptiveElement">
				<xs:attribute default="false" name="IsRequired" type="xs:boolean" />
				<xs:attribute name="Label" type="xs:string" />
				<xs:attribute name="ErrorMessage" type="xs:string" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Input.Toggle">
		<xs:complexContent mixed="false">
			<xs:extension base="AdaptiveInput">
				<xs:attribute name="Title" type="xs:string" />
				<xs:attribute name="ValueOn" type="xs:string" />
				<xs:attribute name="ValueOff" type="xs:string" />
				<xs:attribute default="false" name="Wrap" type="xs:boolean" />
				<xs:attribute name="Value" type="xs:string" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Input.ChoiceSet">
		<xs:complexContent mixed="false">
			<xs:extension base="AdaptiveInput">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="1" name="Choices" type="ArrayOfChoice" />
				</xs:sequence>
				<xs:attribute name="Value" type="xs:string" />
				<xs:attribute default="Compact" name="Style" type="AdaptiveChoiceInputStyle" />
				<xs:attribute default="false" name="IsMultiSelect" type="xs:boolean" />
				<xs:attribute default="false" name="Wrap" type="xs:boolean" />
				<xs:attribute name="Placeholder" type="xs:string" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ArrayOfChoice">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="Choice" nillable="true" type="Choice" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Choice">
		<xs:attribute name="Title" type="xs:string" />
		<xs:attribute name="Value" type="xs:string" />
	</xs:complexType>
	<xs:simpleType name="AdaptiveChoiceInputStyle">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Compact" />
			<xs:enumeration value="Expanded" />
			<xs:enumeration value="Filtered" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Input.Number">
		<xs:complexContent mixed="false">
			<xs:extension base="AdaptiveInput">
				<xs:attribute name="Placeholder" type="xs:string" />
				<xs:attribute default="NaN" name="Value" type="xs:double" />
				<xs:attribute default="NaN" name="Min" type="xs:double" />
				<xs:attribute default="NaN" name="Max" type="xs:double" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Input.Time">
		<xs:complexContent mixed="false">
			<xs:extension base="AdaptiveInput">
				<xs:attribute name="Placeholder" type="xs:string" />
				<xs:attribute name="Value" type="xs:string" />
				<xs:attribute name="Min" type="xs:string" />
				<xs:attribute name="Max" type="xs:string" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Input.Date">
		<xs:complexContent mixed="false">
			<xs:extension base="AdaptiveInput">
				<xs:attribute name="Placeholder" type="xs:string" />
				<xs:attribute name="Value" type="xs:string" />
				<xs:attribute name="Min" type="xs:string" />
				<xs:attribute name="Max" type="xs:string" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Input.Text">
		<xs:complexContent mixed="false">
			<xs:extension base="AdaptiveInput">
				<xs:sequence>
					<xs:choice minOccurs="1" maxOccurs="1">
						<xs:element minOccurs="0" maxOccurs="1" name="Action.OpenUrl" type="Action.OpenUrl" />
						<xs:element minOccurs="0" maxOccurs="1" name="Action.ShowCard" type="Action.ShowCard" />
						<xs:element minOccurs="0" maxOccurs="1" name="Action.Submit" type="Action.Submit" />
						<xs:element minOccurs="0" maxOccurs="1" name="Action.ToggleVisibility" type="Action.ToggleVisibility" />
						<xs:element minOccurs="0" maxOccurs="1" name="AdaptiveUnknownAction" type="AdaptiveUnknownAction" />
					</xs:choice>
				</xs:sequence>
				<xs:attribute name="Placeholder" type="xs:string" />
				<xs:attribute name="Value" type="xs:string" />
				<xs:attribute default="Text" name="Style" type="AdaptiveTextInputStyle" />
				<xs:attribute default="false" name="IsMultiline" type="xs:boolean" />
				<xs:attribute default="0" name="MaxLength" type="xs:int" />
				<xs:attribute name="Regex" type="xs:string" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="AdaptiveTextInputStyle">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Text" />
			<xs:enumeration value="Tel" />
			<xs:enumeration value="Url" />
			<xs:enumeration value="Email" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="FactSet">
		<xs:complexContent mixed="false">
			<xs:extension base="AdaptiveElement">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="unbounded" name="Fact" type="Fact" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Fact">
		<xs:attribute name="Title" type="xs:string" />
		<xs:attribute name="Value" type="xs:string" />
	</xs:complexType>
	<xs:complexType name="ImageSet">
		<xs:complexContent mixed="false">
			<xs:extension base="AdaptiveElement">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="unbounded" name="Image" type="Image" />
				</xs:sequence>
				<xs:attribute default="Auto" name="ImageSize" type="AdaptiveImageSize" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Image">
		<xs:complexContent mixed="false">
			<xs:extension base="AdaptiveElement">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="1" name="SelectAction" type="AdaptiveAction" />
				</xs:sequence>
				<xs:attribute default="Auto" name="Size" type="AdaptiveImageSize" />
				<xs:attribute name="Style" type="AdaptiveImageStyle" />
				<xs:attribute name="Url" type="xs:string" />
				<xs:attribute default="Left" name="HorizontalAlignment" type="AdaptiveHorizontalAlignment" />
				<xs:attribute name="BackgroundColor" type="xs:string" />
				<xs:attribute name="AltText" type="xs:string" />
				<xs:attribute default="0" name="PixelWidth" type="xs:int" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="AdaptiveImageSize">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Auto" />
			<xs:enumeration value="Stretch" />
			<xs:enumeration value="Small" />
			<xs:enumeration value="Medium" />
			<xs:enumeration value="Large" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AdaptiveImageStyle">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Default" />
			<xs:enumeration value="Person" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AdaptiveCollectionElement" abstract="true">
		<xs:complexContent mixed="false">
			<xs:extension base="AdaptiveElement">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="1" name="SelectAction" type="AdaptiveAction" />
				</xs:sequence>
				<xs:attribute name="Style" type="AdaptiveContainerStyle" />
				<xs:attribute default="Top" name="VerticalContentAlignment" type="AdaptiveVerticalContentAlignment" />
				<xs:attribute default="false" name="Bleed" type="xs:boolean" />
				<xs:attribute default="0" name="PixelMinHeight" type="xs:int" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="AdaptiveVerticalContentAlignment">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Top" />
			<xs:enumeration value="Center" />
			<xs:enumeration value="Bottom" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ColumnSet">
		<xs:complexContent mixed="false">
			<xs:extension base="AdaptiveCollectionElement">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="unbounded" name="Column" type="Column" />
				</xs:sequence>
				<xs:attribute default="Left" name="HorizontalAlignment" type="AdaptiveHorizontalAlignment" />
				<xs:attribute default="Top" name="VerticalAlignment" type="AdaptiveVerticalAlignment" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Column">
		<xs:complexContent mixed="false">
			<xs:extension base="Container">
				<xs:attribute default="Stretch" name="Width" type="AdaptiveColumnWidth" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Container">
		<xs:complexContent mixed="false">
			<xs:extension base="AdaptiveCollectionElement">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="1" name="BackgroundImage" type="backgroundImage" />
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element minOccurs="0" maxOccurs="1" name="TextBlock" type="TextBlock" />
						<xs:element minOccurs="0" maxOccurs="1" name="RichTextBlock" type="RichTextBlock" />
						<xs:element minOccurs="0" maxOccurs="1" name="Image" type="Image" />
						<xs:element minOccurs="0" maxOccurs="1" name="Container" type="Container" />
						<xs:element minOccurs="0" maxOccurs="1" name="ColumnSet" type="ColumnSet" />
						<xs:element minOccurs="0" maxOccurs="1" name="ImageSet" type="ImageSet" />
						<xs:element minOccurs="0" maxOccurs="1" name="FactSet" type="FactSet" />
						<xs:element minOccurs="0" maxOccurs="1" name="Input.Text" type="Input.Text" />
						<xs:element minOccurs="0" maxOccurs="1" name="Input.Date" type="Input.Date" />
						<xs:element minOccurs="0" maxOccurs="1" name="Input.Time" type="Input.Time" />
						<xs:element minOccurs="0" maxOccurs="1" name="Input.Number" type="Input.Number" />
						<xs:element minOccurs="0" maxOccurs="1" name="Input.ChoiceSet" type="Input.ChoiceSet" />
						<xs:element minOccurs="0" maxOccurs="1" name="Input.Toggle" type="Input.Toggle" />
						<xs:element minOccurs="0" maxOccurs="1" name="Media" type="Media" />
						<xs:element minOccurs="0" maxOccurs="1" name="ActionSet" type="ActionSet" />
						<xs:element minOccurs="0" maxOccurs="1" name="Table" type="Table" />
						<xs:element minOccurs="0" maxOccurs="1" name="AdaptiveUnknownElement" type="AdaptiveUnknownElement" />
					</xs:choice>
				</xs:sequence>
				<xs:attribute default="false" name="Rtl" type="xs:boolean" />
				<xs:attribute default="Left" name="HorizontalAlignment" type="AdaptiveHorizontalAlignment" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="backgroundImage">
		<xs:attribute name="BackgroundImage" type="xs:string" />
		<xs:attribute default="Cover" name="FillMode" type="AdaptiveImageFillMode" />
		<xs:attribute default="Left" name="HorizontalAlignment" type="AdaptiveHorizontalAlignment" />
		<xs:attribute default="Top" name="VerticalAlignment" type="AdaptiveVerticalAlignment" />
	</xs:complexType>
	<xs:simpleType name="AdaptiveImageFillMode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Cover" />
			<xs:enumeration value="RepeatHorizontally" />
			<xs:enumeration value="RepeatVertically" />
			<xs:enumeration value="Repeat" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="TextBlock" mixed="true">
		<xs:attribute default="Default" name="Spacing" type="AdaptiveSpacing" />
		<xs:attribute default="false" name="Separator" type="xs:boolean" />
		<xs:attribute default="true" name="IsVisible" type="xs:boolean" />
		<xs:attribute default="Default" name="Size" type="AdaptiveTextSize" />
		<xs:attribute name="Weight" type="AdaptiveTextWeight" />
		<xs:attribute default="Default" name="Color" type="AdaptiveTextColor" />
		<xs:attribute default="false" name="IsSubtle" type="xs:boolean" />
		<xs:attribute default="false" name="Italic" type="xs:boolean" />
		<xs:attribute default="false" name="Strikethrough" type="xs:boolean" />
		<xs:attribute default="Left" name="HorizontalAlignment" type="AdaptiveHorizontalAlignment" />
		<xs:attribute default="false" name="Wrap" type="xs:boolean" />
		<xs:attribute default="0" name="MaxLines" type="xs:int" />
		<xs:attribute default="0" name="MaxWidth" type="xs:int" />
		<xs:attribute default="Default" name="FontType" type="AdaptiveFontType" />
		<xs:attribute default="Paragraph" name="Style" type="AdaptiveTextBlockStyle" />
	</xs:complexType>
	<xs:simpleType name="AdaptiveTextSize">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Default" />
			<xs:enumeration value="Small" />
			<xs:enumeration value="Medium" />
			<xs:enumeration value="Large" />
			<xs:enumeration value="ExtraLarge" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AdaptiveTextWeight">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Default" />
			<xs:enumeration value="Lighter" />
			<xs:enumeration value="Bolder" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AdaptiveTextColor">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Default" />
			<xs:enumeration value="Dark" />
			<xs:enumeration value="Light" />
			<xs:enumeration value="Accent" />
			<xs:enumeration value="Good" />
			<xs:enumeration value="Warning" />
			<xs:enumeration value="Attention" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AdaptiveFontType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Default" />
			<xs:enumeration value="Monospace" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AdaptiveTextBlockStyle">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Paragraph" />
			<xs:enumeration value="Heading" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="RichTextBlock">
		<xs:complexContent mixed="false">
			<xs:extension base="AdaptiveElement">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="unbounded" name="Inlines" type="TextRun" />
				</xs:sequence>
				<xs:attribute default="Left" name="HorizontalAlignment" type="AdaptiveHorizontalAlignment" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TextRun" mixed="true">
		<xs:complexContent mixed="false">
			<xs:extension base="AdaptiveInline">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="1" name="Type" type="xs:string" />
					<xs:element minOccurs="0" maxOccurs="1" name="SelectAction" type="AdaptiveAction" />
				</xs:sequence>
				<xs:attribute default="Default" name="Size" type="AdaptiveTextSize" />
				<xs:attribute name="Weight" type="AdaptiveTextWeight" />
				<xs:attribute default="Default" name="Color" type="AdaptiveTextColor" />
				<xs:attribute default="false" name="IsSubtle" type="xs:boolean" />
				<xs:attribute default="false" name="Italic" type="xs:boolean" />
				<xs:attribute default="false" name="Strikethrough" type="xs:boolean" />
				<xs:attribute default="false" name="Highlight" type="xs:boolean" />
				<xs:attribute default="Default" name="FontType" type="AdaptiveFontType" />
				<xs:attribute default="false" name="Underline" type="xs:boolean" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AdaptiveInline" abstract="true">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="1" name="AdditionalProperties">
				<xs:complexType>
					<xs:sequence>
						<xs:any />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="AdaptiveColumnWidth">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Stretch" />
			<xs:enumeration value="Auto" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AdaptiveSchemaVersion">
		<xs:attribute name="Major" type="xs:int" use="required" />
		<xs:attribute name="Minor" type="xs:int" use="required" />
	</xs:complexType>
	<xs:complexType name="Refresh">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="1" name="Action" type="Action.Execute" />
		</xs:sequence>
		<xs:attribute name="UserIds">
			<xs:simpleType>
				<xs:list itemType="xs:string" />
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="AdaptiveAuthentication">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="1" name="TokenExchangeResource" type="AdaptiveTokenExchangeResource" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="Buttons" type="AdaptiveAuthCardButton" />
		</xs:sequence>
		<xs:attribute name="Text" type="xs:string" />
		<xs:attribute name="ConnectionName" type="xs:string" />
	</xs:complexType>
	<xs:complexType name="AdaptiveTokenExchangeResource">
		<xs:attribute name="Id" type="xs:string" />
		<xs:attribute name="Uri" type="xs:string" />
		<xs:attribute name="ProviderId" type="xs:string" />
	</xs:complexType>
	<xs:complexType name="AdaptiveAuthCardButton">
		<xs:attribute name="Type" type="xs:string" />
		<xs:attribute name="Title" type="xs:string" />
		<xs:attribute name="Image" type="xs:string" />
		<xs:attribute name="Value" type="xs:string" />
	</xs:complexType>
</xs:schema>